{% extends "base.html" %}
{% block title %}Categoría{% endblock title %}
{% block content %}
<div class="card mt-4 mb-4 p-2 border border-secondary" style="width: 23rem; color: white; display: block; margin-left: auto; margin-right: auto; background-color: #1b1b1b">
    <div class="card-body">
    <h4 class="card-title" style="color:white">Características</h4>
    </div>
    <ul class="list-group list-group-flush" style="border-radius: 4px;">
    <li class="list-group-item" style="background-color: #51278a; color:white"><strong>Nombre de la categoría:</strong> {{ category.category_name }}</li>
    </ul>
</div>
{% endblock content %}