{% extends "base.html" %}
{% block title %}Discos{% endblock title %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4 mt-1 mb-4">
  <div class="col">
    <div class="col d-flex justify-content-center align-items-center bg-dark rounded-3 border border-light" style="height: 200px;">
      <div class="d-flex align-items-center" style="width: 70%; max-width: 400px;">
        <i class="fa-solid fa-record-vinyl" style="font-size: 70px;"></i>
        <button type="button" class="btn btn-outline-primary btn-lg ms-3 w-100" style="height: 75px; font-size: 30px;">Productos</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="d-flex justify-content-center align-items-center bg-dark rounded-3 border border-light" style="height: 200px;">
      <div class="d-flex align-items-center" style="width: 70%; max-width: 400px;">
        <i class="fa-solid fa-layer-group" style="font-size: 70px;"></i>
        <button type="button" class="btn btn-outline-primary btn-lg ms-3 w-100" style="height: 75px; font-size: 30px;">Categorías</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="d-flex justify-content-center align-items-center bg-dark rounded-3 border border-light" style="height: 200px;">
      <div class="d-flex align-items-center" style="width: 70%; max-width: 400px;">
        <i class="fa-solid fa-user-group" style="font-size: 70px;"></i>
        <button type="button" class="btn btn-outline-primary btn-lg ms-3 w-100" style="height: 75px; font-size: 30px;">Clientes</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="d-flex justify-content-center align-items-center bg-dark rounded-3 border border-light" style="height: 200px;">
      <div class="d-flex align-items-center" style="width: 70%; max-width: 400px;">
        <i class="fa-solid fa-cart-shopping" style="font-size: 70px;"></i>
        <button type="button" class="btn btn-outline-primary btn-lg ms-3 w-100" style="height: 75px; font-size: 30px;">Compras</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}