{% extends "base.html" %}
{% block title %}Iniciar Sesión{% endblock title %}
{% block content %}
<div class="d-flex justify-content-center">
    <h3>Iniciar sesión</h3>
    <hr class="border border-secondary border-2 opacity-75 m-3">
            <form action="" method="post">
            {% csrf_token %}
            <div class='mb-3'>
                <label for="">Usuario:</label>
                <input class="form-control" type="text" name="username" id="username"/>
            </div>
            <div class='mb-3'>
                <label for="">Contraseña:</label>
                <input class="form-control" type="password" name="password" id="password"/>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
</div>
{% endblock content %}